%h1 F.ragment
.outer_box
  .canvas
    .commands
      .cmd_row
        .cmd_icon
          w
        .w_cmd
      .cmd_row
        .cmd_icon
          a
        .a_cmd
      .cmd_row
        .cmd_icon
          s
        .s_cmd
      .cmd_row
        .cmd_icon
          d
        .d_cmd
    .program_window
      .code
      .execute_button
    .status_window
      .register
      .objective
