// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'compass';

$background_color: #FFFFFF;

$select_primary: #00EE11;
$select_secondary: #33AA33;
$select_solid: #00DD00;
$select_text: #CCFF99;

$delete_primary: #CC0000;
$delete_secondary: #FF0000;
$delete_text: #FFFFFF;

$cancel_primary: #AAAAAA;
$cancel_secondary: #DDDDDD;
$cancel_text: #111111;

$timer_normal: #00CC00;
$timer_warning: #FFCC00;
$timer_critical: #FF1919;

.games
{
  background-color: $background_color;
}

.button {
  padding: 10px;
  width:256px;
  height:64px;

}

.button_center
{
  text-align: center;
  margin: auto;
  height:44px;
  width:236px;
}

.select {
  background-color: $select_solid;
  color: $select_text;
}

.select_grad
{
  @include filter-gradient(#c9de96, #398235, vertical);
  @include background-image(linear-gradient(left top, $select_primary, $select_secondary));
}

.delete {
  background-color: $delete_primary; 
  color: $delete_text;
}

.delete_grad
{
  @include background-image(linear-gradient(left top, $delete_primary, $delete_secondary));
}

.cancel {
  background-color: $cancel_primary;
  color: $cancel_text;
}

.cancel_grad
{
  @include background-image(linear-gradient(left top, $cancel_primary, $cancel_secondary));
}


.icon
{
  
}

.message_text
{
  
}

.play_window
{
 
}

.common_window
{
  background-color: $background_color;
  width: 1280px;
  height: 720px;
}

.story_window
{
  display:none;
}

.story_background
{
  width:100%;
  height:100%;
}

.story_pad
{
  width:100%;
  height:75%;
}
.story_content
{
  height:25%;
}
.story_portrait_layer
{
  
}
.story_message_window  
{
  
}

.game_window
{
  
}
.game_timer
{
  font-size:64px;
  text-align:center;
  padding: 0;
}

.normal_timer
{
  color: $timer_normal;
}
.warning_timer
{
  color: $timer_warning;  
}
.critical_timer
{
  color: $timer_critical;
}
.game_common_pane
{
  border: solid;
  border-weight: 1px;

}
.game_fragment_pane
{
  min-height:600px; 
}

.game_fragment_list
{
  min-height:564px;
  border: solid;
  border-weight: 1px;
}

.game_program_pane
{
  overflow-vertical: scroll;
  min-height:600px; 
}

.game_status_pane
{
  min-height:600px; 
}
.game_pane_title
{
  
}
.game_program_tree
{
  overflow-vertical: scroll;
  min-height:500px;
  border-weight:1px;
  border: solid;
}
.compile
{
  border:2px;
  border-color: $select_secondary;
  font-size:32pt;
}